{% extends 'base.html.twig' %}

{% block body %}
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aut consequuntur cupiditate, dolor doloremque
        doloribus error eveniet fugit hic iste itaque iure laborum, minus molestias mollitia officia possimus
        praesentium voluptate!
    </div>
{% endblock %}
