<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="{{ asset('img/favicon.png') }}">
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>
<div class="container">

    {% include 'header/header.html.twig' %}

    <main>
        {% block body %}{% endblock %}
    </main>
    <footer>
        {% block footer %}

        {% endblock %}
        {% include 'footer/copyright.html.twig' %}
    </footer>
</div>
</body>
</html>
